body {
    padding-top: 45px;
    text-align: justify;
}

.navbar-fixed-top .navbar-inner {
    padding: 0 20px;
}

.media small, .media h4, .media p {
    padding: 0;
    margin: 0;
}

.media-body {
    margin-bottom: 10px;
}

pre {
    line-height: 15px;
}

#about {
    margin-left: 5px;
    border-left: 2px solid #ccc;
    padding-left: 5px;
    color: #555;
    text-align: left;
    max-width: 500px;
}

#about h3 {
    font-size: 14pt;
    margin: 0;
}

.media-object {
    width: 64px;
    height: 64px;
}

.asciicast, iframe {
    margin: 2px auto !important;
    display: block;
}
