html, body {
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    text-align: justify;
    width: 800px;
    margin: 0 auto;
}

h1 {
    padding-top: 0;
}

h1 small {
    font-size: 14pt;
}

pre {
    margin-left: 50px;
}

.footnotes::before {
    content: "References:";
}

.footnotes {
    color: #444;
    font-size: 8pt;
    margin-top: 50px;
}

.footnotes a {
    color: #444;
}
