<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
    </head>
    <body>
        <h1>
            {{ page.title }}
            {% if page.date %}<small>Published {{ page.date | date_to_string }}</small>{% endif %}
            {% if page.url != '/index.html' %}
                <small>on <a href="/">Drew DeVault's blog</a></small>
            {% endif %}
        </h1>
        <p>This site and all its contents are <a href="http://opensource.org/licenses/MIT">MIT licensed</a>.</p>
        {{ content }}
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-37292778-1");
              pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
