<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        {% seo %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/syntax.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="alternate" title="RSS" href="https://drewdevault.com/feed.xml">
        <link rel="icon" type="image/png" href="/avatar.png">
        <script src="/js/underscore-min.js"></script>
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
